.container-10 {
    position: relative;
}
.con-10 {
    position: absolute;
    top: 378rem;
    left: 10rem;
    border-radius: 30px;
    color: white;
    background: linear-gradient(#6610f2, #6e42c1e8);
}
.world {
    font-size: 60px;
    font-weight: bolder;
}
.create-btn2 {
    margin: auto;
    width: 35%;
    /* margin-left: 49px; */
    display: block;
    background: none;
    color: white;
    font-weight: bolder;
     
}
